*{
    margin: 0;
}

.card1, .card3{
    background: #2663e7e8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card1 img{
    width: 380px;
    height: 230px;
}
.card2{
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.card1 .content, .card2 .content, .card3 .content{
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}
.card1 .spec1, .card2 .spec2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 15px;
}
.card3 img{
    width: 310px;
    height: 230px;
}
.card3 .spec3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 15px;
}

@media only screen and (max-width: 1140px){
    .card1, .card2, .card3{
        flex-direction: column;
    }
    .card1 img, .card2 img, .card3 img{
        width: 210px;
        height: 130px;
    }
    .card1 .content, .card2 .content, .card3 .content{
        font-size: 2.5rem;
    }
    .card1 .spec1, .card2 .spec2, .card3 .spec3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1450px){
    .card1, .card2, .card3{
        padding: 20px;
    }
    .text1, .text2, .text3{
        padding: 20px;
    }
}
