*{
    margin: 0;
}

.card1, .card3{
    background: #2663e7e8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card1 img{
    width: 380px;
    height: 230px;
}
.card2{
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.card1 .content, .card2 .content, .card3 .content{
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}
.card1 .spec1, .card2 .spec2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 15px;
}
.card3 img{
    width: 310px;
    height: 230px;
}
.card3 .spec3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 15px;
}
